* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Roboto', sans-serif;

}

ul {
    list-style-type: none;
}

.hero,
.footer {
    background-color: #1F2937;
    padding: 0;
}

.hero {
    padding: 20px 8%;
    padding-bottom: 70px;
    margin-bottom: 50px;
}

.header {
    margin-bottom: 50px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul .right {
    display: flex;
    gap: 12px;
}

.hero-content {
    display: flex;
    gap: 24px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-text .sign-up{
    max-width: 100px;
    padding: 4px;
    border-radius: 5px;
}



.hero-image img {
    width: 100%;
    max-width: 800px;
}

.title,
.logo,
.footer,
.call-card,
.sign-up {
    color: #F9FAF8;
}

.title {
    font-size: 48px;
    font-weight: bolder;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.header .link-item,
.subtext{
    color: #E5E7EB;
}

.sign-up,
.call-card {
    background-color: #3882F6;
}

.information-title,
.quote-text,
.card p {
    color: #1F2937
}

.information-title {
    font-size: 36px;
    text-align: center;
}
.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    padding: 20px 8%;
    padding-bottom: 70px;
    margin-bottom: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.card img {
    border:#3882F6 3px solid;
    border-radius: 10px;
    width: 175px;
    height: 175px;
}

.card p {
    width: 175px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 70px 8%;
    padding-bottom: 70px;
    margin-bottom: 50px;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
}

.quote p {
    text-align: right;
    padding-top: 10px;
    font-size: 24px;
}